# Host
HOST_IPV4='<IPv4>'
HOST_IPV6='<IPv6>'

# MongoDB
MONGODB_HOST_PORT='<port>'
MONGODB_IMAGE='<image>'
MONGO_INITDB_ROOT_USERNAME='<user>'
MONGO_INITDB_ROOT_PASSWORD='<password>'

# PostgreSQL
POSTGRESQL_HOST_PORT='<port>'
POSTGRESQL_VERSION='<integer>'
POSTGRESQL_IMAGE='<image>'
POSTGRES_USER='<user>'
POSTGRES_DB='<database>'
POSTGRES_PASSWORD='<password>'

# Redis
REDIS_HOST_PORT='<port>'
REDIS_IMAGE='<image>'
REDIS_PASSWORD='<password>'
REDIS_MAX_MEMORY='<e.g. 256mb>'